<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan
		base-package="com.example.demo"></context:component-scan>

	<bean id="greetingController"
		class="com.example.demo.controller.GreetingController">
		<property name="helloWorldService"
			ref="helloWorldServiceDefault" />
		<property name="helloWorldServiceEnglishImpl" ref="english" />
		<property name="helloWorldServiceSpanishImpl" ref="spanish" />
	</bean>

	<bean id="english" class="com.example.demo.services.HelloWorldServiceEnglishImpl"/>
	
	<bean id="spanish" class="com.example.demo.services.HelloWorldServiceSpanishImpl"/>
	
	
	<bean id="helloWorldServiceDefault"
		class="com.example.demo.services.HelloWorldServiceEnglishImpl"></bean>
		
	<bean id="helloWorldServiceDefault"
		class="com.example.demo.services.HelloWorldServiceSpanishImpl"></bean>
		
	<bean profile="english">
	
	</bean>
</beans>