<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="prototype" class="com.springstarter.model.Prototype"
		scope="prototype" />

	<bean id="singleton"
		class="com.springstarter.model.SingletonChanged ">
		<lookup-method name="createPrototype" bean="prototype" />
	</bean>

	<bean id="myValueCalculatorOriginal"
		class="com.springstarter.methodreplacement.MyValueCalculator">
	</bean>
	
	
	<bean id="myValueCalculatorReplaced"
		class="com.springstarter.methodreplacement.MyValueCalculator">
		<!-- arbitrary method replacement -->
		<replaced-method name="computeValue"
			replacer="replacementComputeValue">
			<arg-type>String</arg-type>
		</replaced-method>
	</bean>
	<bean id="replacementComputeValue"
		class="com.springstarter.methodreplacement.ReplacementComputeValue" />
</beans>